<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
  <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>

    <ul class="navbar-nav mr-auto" *ngIf="!!loggedUser">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/members">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/list']">List</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/massages']" tabindex="-1">Messeges</a>
      </li>
    </ul>
    <app-login *ngIf="!loggedUser" (loginEmmiter)="login($event)"></app-login>
    <app-user-options *ngIf="!!loggedUser" [loggedUser]="loggedUser" (onLogOut)="logOut()"></app-user-options>
  </div>
</nav>
