<div class="container mt-4" *ngIf="!!member">
  <div class="row">
    <div class="col-sm-4">
      <app-memder-details-left [member]="member">
        <div class="btn-group d-flex w-100">
          <button class="btn btn-primary">Like</button>
          <button class="btn btn-success" (click)="openTab(3)">Message</button>
        </div>
      </app-memder-details-left>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset" #staticTabs>
          <tab heading="About {{ member.knownAs }}">
            <h4>Description</h4>
            <p>{{ member.introduction }}</p>
            <h4>Looking For:</h4>
            <p>{{ member.lookingFor }}</p>
          </tab>
          <tab heading="Interests">
            <h4>Interests</h4>
            <p>{{ member.interests }}</p>
          </tab>
          <tab heading="Photos">
            <ngx-gallery
            *ngIf="!!galleryImages && galleryImages.length > 0"
              class="ngx-gallery"
              [options]="galleryOptions"
              [images]="galleryImages"
            ></ngx-gallery>
          </tab>
          <tab heading="Messages">
            <app-member-messages (loadMsgsEmmiter)="loadMessages()" [messages]="messeges" [recipientId]="member.id" *ngIf="!!member"></app-member-messages>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
