<div class="text-center my-2">
  <h2>Your matches - {{paginationCopy.totalItems}} found</h2>
</div>
<div class="container">
  <div class="row" *ngIf="members">
    <div class="col-lg-2 col-md-3 col-sm-6" *ngFor="let member of members">
      <app-member-card [member]="member"></app-member-card>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="paginationCopy.totalItems"
    [(ngModel)]="paginationCopy.currentPage"
    [itemsPerPage] ="paginationCopy.itemsPerPage"
    (pageChanged)="onPageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
