<div class="dropdown" dropdown *ngIf="!!loggedUser">
  <a class="dropdown-toggle text-light" dropdownToggle>
    <img [src]="loggedUser.photoUrl" [alt]="loggedUser.userName" class="img-thumbnail"/>
    Welcome {{loggedUser.userName | titlecase}}
  </a>

  <div class="dropdown-menu mt-2" *dropdownMenu>
    <a class="dropdown-item" [routerLink]="['member/edit']" ><i class="fa fa-user mr-2"></i>Edit Profile</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" (click)="logOut()"><i class="fa fa-sign-out mr-2"></i>Log Out</a>
  </div>
</div>
