<form class="form-inline my-2 my-lg-0" #loginForm="ngForm" (ngSubmit)="login()">
  <input class="form-control mr-sm-2" name="userName" type="text" placeholder="User name" required [(ngModel)]="user.userName">
  <input class="form-control mr-sm-2" name="password" type="password" placeholder="Password" required [(ngModel)]="user.password">
  <button class="btn btn-success my-2 my-sm-0" type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
