<app-members-filters [userParams]="userParams" (onFilterUpdate)="updateFilter($event)"
(onFilterReset)="resetFilters()"></app-members-filters>
<app-member-list [members]="members"
(onPageChange)="pageChanged($event)"
[pagination]="pagination">
</app-member-list>
