<div class="container mt-3">
  <div class="row d-flex justify-content-center">
    <form
      class="form-inline"
      novalidate
      #form="ngForm"
      (ngSubmit)="updateFilter()"
    >
      <div class="form-group">
        <label for="minAge">Age From</label>
        <input
          [(ngModel)]="params.minAge"
          type="number"
          class="form-control ml-1"
          style="width: 70px;"
          id="minAge"
          name="minAge"
        />
      </div>

      <div class="form-group px-2">
        <label for="maxAge">Age To</label>
        <input
          [(ngModel)]="params.maxAge"
          type="number"
          class="form-control ml-1"
          style="width: 70px;"
          id="maxAge"
          name="maxAge"
        />
      </div>

      <div class="form-group px-2">
        <label for="gender">Show: </label>
        <select
          class="form-control ml-1"
          style="width: 130px;"
          id="gender"
          name="gender"
          [(ngModel)]="params.gender"
        >
          <option *ngFor="let item of genderList" [value]="item.value">
            {{ item.label }}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-left: 10px;">
        Apply Filters
      </button>
      <button
        type="button"
        class="btn btn-info"
        style="margin-left: 10px;"
        (click)="resetFilter()"
      >
        Reset Filter
      </button>
      <div class="col">
        <div class="btn-group float-right">
          <button type="button" name="orderBy" class="btn btn-primary" (click)="updateFilter()"
           [(ngModel)]="params.orderBy" btnRadio="lastActive">
            Last Active
          </button>
          <button type="button" name="orderBy" class="btn btn-primary" (click)="updateFilter()"
          [(ngModel)]="params.orderBy" btnRadio="created">
            Newest Members
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<br />
