<div class="card border-none">
  <div class="card-body">
    <div *ngIf="messages && messages.length == 0">
      <p>No messages yet</p>
    </div>
    <ul class="chat p-0 m-0">
      <li *ngFor="let msg of messages" class="item-list mb-3 pb-2">
        <div *ngIf="msg.senderId == recipientId">
          <span class="chat-img float-left">
            <img
              src="{{ msg.senderPhotoUrl }}"
              class="rounded-circle small-img mr-2"
              [alt]="msg.senderKnownAs"
            />
          </span>
          <div class="chat-body">
            <div class="header">
              <strong class="primary-font">
                {{ msg.senderKnownAs }}
              </strong>
              <small class="text-muted float-right">
                <span class="fa fa-clock-o">{{
                  msg.messageSent | timeago
                }}</span>
              </small>
            </div>
            <p class="mb-0">{{ msg.content }}</p>
          </div>
        </div>
        <div *ngIf="msg.senderId != recipientId">
          <span class="chat-img float-right">
            <img
              [src]="msg.senderPhotoUrl"
              class="small-img ml-2 rounded-circle"
              [alt]="msg.senderKnownAs"
            />
          </span>
          <div class="chat-body">
            <div class="header">
              <strong class="primary-font float-right">
                {{ msg.senderKnownAs }}
              </strong>
              <small class="text-muted">
                <span class="fa fa-clock-o">{{
                  msg.messageSent | timeago
                }}</span>
                <span class="text-danger" *ngIf="!msg.isRead">(unread)</span>
                <span class="text-succsess" *ngIf="!!msg.isRead"
                  >(Read {{ msg.dateRead | timeago }})</span
                >
              </small>
            </div>
            <p>{{ msg.content }}</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="card-footer">
      <form (ngSubmit)="sendMessage()" #formToEdit="ngForm">
        <div class="input-group">
          <input
            [(ngModel)]="msgContent"
            name="content"
            type="text"
            class="form-control input-sm"
            placeholder="Send Message"
          />
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
