.img-thumbnail {
  margin: 24px;
  width: 85%;
  height: 85%;
}

.card-body {

  padding: 0 24px;
}

.card-footer {
  padding: 12px 16px;
  background-color: white;
  border-top: none;
}

.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
}
