<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your Profile:</h1>
    </div>
    <div class="col-sm-8">
      <div class="alert alert-info" *ngIf="formToEdit.dirty">
        <p class="m-0"><strong>Information:</strong> You have made some changes. Any unsaved changes will be lost!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <app-memder-details-left [member]="user">
        <button class="btn btn-success btn-block" form="formToEdit" [disabled]="!formToEdit.dirty">Save</button>
      </app-memder-details-left>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Etit Profile">
            <form #formToEdit="ngForm" id="formToEdit" (ngSubmit)="saveUpdatedUser()">
              <h4>Description</h4>
              <textarea
                class="form-control"
                name="introduction"
                [(ngModel)]="user.introduction"
                rows="6"
              ></textarea>
              <h4>Looking For</h4>
              <textarea
                class="form-control"
                name="lookingFor"
                [(ngModel)]="user.lookingFor"
                rows="6"
              ></textarea>
              <h4>Interests</h4>
              <textarea
                class="form-control"
                name="interests"
                [(ngModel)]="user.interests"
                rows="6"
              ></textarea>
              <h4>Location Details:</h4>
              <div class="form-inline">
                <label for="city">City</label>
                <input
                  type="text"
                  class="form-control"
                  name="city"
                  [(ngModel)]="user.city"
                />
                <label for="city">Country</label>
                <input
                  type="text"
                  class="form-control"
                  name="country"
                  [(ngModel)]="user.country"
                />
              </div>
            </form>
          </tab>
          <tab heading="Edit Photos">
          <app-photo-upload [photos]="user.photos" (updateMainImageEmmiter)="updateMainPhoto($event)"></app-photo-upload>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
