<div class="card">
  <img class="card-img-top img-thumbnail" [src]="member.photoUrl || general.userDefaultImageSrc" [alt]="member.knownAs">
  <div class="card-body">
    <div>
      <strong>Location:</strong>
      <p>{{member.city}}, {{member.country}}</p>
    </div>
    <div>
      <strong>Age:</strong>
      <p>{{member.age}}</p>
    </div>
    <div>
      <strong>Last Active:</strong>
      <p>{{member.lastActive | timeago}}</p>
    </div>
    <div>
      <strong>Member Since:</strong>
      <p>{{member.created}}</p>
    </div>
  </div>
  <div class="card-footer">
    <ng-content></ng-content>
  </div>
</div>
