<div class="container mt-5">
  <div style="text-align: center" *ngIf="!registerMode">
    <h1>Find your match</h1>
    <p class="lead">Come on in to view your matches... All you need to do is sign up!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerMode = true">Register</button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>

  <div class="container" *ngIf="!!registerMode">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisteration()"></app-register>
      </div>
    </div>
  </div>
</div>