<div class="card mb-4">
  <div class="card-image-wrapper">
    <img [src]="member.photoUrl || general.userDefaultImageSrc" class="card-img-top" [alt]="member.knownAs">
   <ul class="list-inline members-icon animate text-center">
     <li class="list-inline-item">
       <button class="btn btn-primary" [routerLink]="['/members/', member.id]"><i class="fa fa-user"></i></button>
     </li>
     <li class="list-inline-item">
      <button class="btn btn-primary" (click)="likeMember()"><i class="fa fa-heart"></i></button>
    </li>
    <li class="list-inline-item">
      <button class="btn btn-primary" [routerLink]="['/members/', member.id]" [queryParams]="{tabNumber: 3}"><i class="fa fa-envelope"></i></button>
    </li>
   </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1"> <i class="fa fa-user mr-2"></i>{{member.knownAs}}, {{member.age}}</h6>
    <p class="card-text text-center text-muted">{{member.city}}</p>
  </div>
</div>
